{% extends 'template.html.twig' %}

{% block title %}Liste des abonnées au site{% endblock %}

{% block body %}
    <div class="row">
        {% for personne in personnes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ personne.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Job : </h6>
                <p class="card-text">Age : {{ personne.age }}</p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
